/* Contenedor principal */
.product-catalog {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título del catálogo */
.product-catalog h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #f68c29;
}

/* Contenedor de productos */
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Estilo de las tarjetas de producto */
.product-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  text-align: center;
  padding: 15px;
}

/* Efecto hover para las tarjetas */
.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagen del producto */
.product-card img {
  max-width: 100%;
  height: 150px; /* Establece una altura fija para las imágenes */
  object-fit: cover; /* Asegura que las imágenes se recorten y se ajusten proporcionalmente */
  border-radius: 8px;
  margin-bottom: 10px;
}


/* Título del producto */
.product-card h2 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

/* Precio del producto */
.product-card p {
  font-size: 1rem;
  color: #555;
}

/* Botón de acción */
.product-card button {
  background-color: #ffa200;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: #ffa200;
}

/* Efecto de escala de grises para productos sin stock */
.product-card.out-of-stock {
  filter: grayscale(100%);
  opacity: 0.6;
}
