/* Contenedor principal de la página */
.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  /* Formulario */
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Campos de entrada */
  .register-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Cambia el borde del input a rojo si hay un error */
  .register-form input.error {
    border-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
  
  /* Botones */
  .register-form button {
    padding: 10px;
    background-color: #ff8e25;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .register-form button:hover {
    background-color: #d36b0a;
  }
  
/* Mensajes de error */
.error-message {
    color: red; /* Color del texto */
    font-size: 12px; /* Tamaño de fuente pequeño */
    margin-top: -8px; /* Espaciado ajustado para estar justo debajo del input */
    margin-bottom: 8px; /* Espaciado inferior */
  }
  
  /* Campo con error */
  .register-form input.error {
    border-color: red; /* Borde rojo para inputs con error */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Sombra roja */
  }
  
  