/* Contenedor de la barra de búsqueda */
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  /* Campo de entrada */
  .search-input {
    width: 70%;
    max-width: 500px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #f7ab41;
  }
  
  /* Botón de búsqueda */
  .search-button {
    padding: 10px 20px;
    background-color: #f7ab41;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #b36b00;
  }
  